@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    width: 1410px;
    margin: 0 auto;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

input, textarea, select {
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    background-color: #0A2463;
}

.root__header {
    margin: 15px 0;
    background-color: #143A78;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;

    max-width: 1410px;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.root__logo {
    a {
        text-decoration: none;
        color: #fff;
        font-size: 25px;
    }
}


.root__menu {
    display: flex;
    align-items: center;
    margin-left: 30px;

}

.root__link {
    transition: 300ms transform;
}

.root__link:hover {
    transform: scale(1.05);
}

.root__list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 30px;
    margin: 0 40px 0 0;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }
}


.root__button {
    background-color: #FFFFFF1A;
    border: 1px solid #455989;
    border-radius: 1000px;
    color: #fff;
    padding: 12px 18px;
    cursor: pointer;
    font-size: 13px;
    transition: transform 300ms;
}

.root__button:hover {
    transform: scale(1.05);
}

/* main */

.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0A2463;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 180px 0 120px 0;
}

.main__title {
    font-size: 48px;
    color: #fff;
    font-weight: 600;
    margin: 20px 0;
}

.main__subtitle {
    color: #A7B0C5;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    max-width: 545px;
    margin: 20px 0;
}

.main__buttons {
    display: flex;
    gap: 20px;
}

.main__button {
    background-color: #FFFFFF1A;
    border: 1px solid #455989;
    border-radius: 1000px;
    color: #fff;
    padding: 12px 18px;
    font-weight: 600;
    cursor: pointer;
    font-size: 12px;
    transition: transform 300ms;
}

.main__button:hover {
    transform: scale(1.1);
    transition: transform 300ms;
}

.main__button:nth-child(1) {
    background: linear-gradient(94.79deg, #1C4AA2 -26.03%, #4087b6 55.61%, #0f5279 190.04%);
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 12px;
}

.main__advantages {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(170px, max-content));
    gap: 15px;
    justify-content: center;
    margin-top: 40px;
}

.main__advantages-item {
    max-width: 170px;

    border: 1px solid #455989;

    display: flex;
    flex-direction: column;

    background-color: #FFFFFF1A;
    border-radius: 10px;
    padding: 15px;
    transition: transform 300ms;
}

.main__advantages-item:hover {
    transform: scale(1.1);
    transition: transform 300ms;
}


.main__advantages-title {
    display: flex;
    align-items: self-end;

    gap: 10px;
    color: #FFFFFF;
    margin: 0 0 20px 0;

    p {
        margin: 0;
        font-size: 13px;
        font-weight: 500;
    }

}

.main__advantages-text {
    font-size: 12px;
    font-weight: 500;
    color: #A7B0C5;
    text-align: start;
    margin: 0 0 8px;
}

/* our services */

.services {
    background-color: #F9FAFB;
    padding: 60px 0;
    border-radius: 102px 102px 0 0 ;

    position: relative;
    top: 75vh;
    z-index: 20;
}

.services__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 0 0 50px 0;
}

.services__title {
    font-size: 40px;
    color: #0A2463;
    margin: 0;
}

.services__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.services__subtitle {
    font-size: 20px;
    color: #A7B0C5;
    width: 100%;
    max-width: 580px;
}

.services__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(315px, max-content));
    justify-content: center;
    gap: 20px;

}

.services__card {
    max-width: 315px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 13.6px 0px #0000001A;
    border-radius: 10px;
    transition: transform 300ms;

}

.services__card:hover {
    transform: scale(1.05);
    transition: transform 300ms;
}

.services__cardImg {
    border-radius: 10px 10px 0 0;
}

.services__cardName {
    display: flex;
    align-items: self-end;

    padding: 15px 15px 8px 15px;
    margin: 0;
    gap: 10px;

    p {
        margin: 0;
        font-size: 24px;
        font-weight: 500;
        color: #0A2463;
    }
}

.services__icon {
    width: 27px;
    height: 27px;
    svg {
        color: #60A5D5;
    }
}

.services__cardText {
    font-size: 16px;
    padding: 8px 15px 15px 15px;
    color: #848C95;
    font-weight: 500;
    margin: 0;
}

.services__cardLink {
    display: flex;
    padding: 0 15px 15px 15px;
    gap: 15px;
    text-decoration: none;
    color: #60A5D5;
    font-size: 18px;
    font-weight: 500;

    img {
        transition: transform 300ms;
    }
}

.services__cardLink:hover {
    img {
        transform: translateX(10px);
        transition: transform 300ms;
    }
}

.services__button {
    cursor: pointer;
    margin: 45px 0 0 0;
    padding: 12px 43px;
    border: none;
    background-color: #0A2463;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 100px;
    transition: transform 300ms;
}

.services__button:hover {
    transform: scale(1.05);
    transition: transform 300ms;
}

/* calculate */

.calculator {
    background-color: #FFFFFF;
    padding: 40px 0;

    position: relative;
    top: 75vh;
    z-index: 20;
}

.calculator__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 0 0 50px 0;
}

.calculator__title {
    font-size: 40px;
    color: #0A2463;
    margin: 0;
}

.calculator__subtitle {
    font-size: 20px;
    color: #A7B0C5;
    width: 100%;
    max-width: 580px;
}


.calculator__form {
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px solid #E7E5E4;
    border-radius: 10px;
    box-shadow: 0px 9px 21.4px 0px #00000012;
}

.calculator__radioButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 25px;
}

.calculator__radioButton {
    padding: 25px 60px;
    border:  1px solid #A7B0C5;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    transition: all 300ms;
}

.calculator__radioButton_active {
    border: 1px solid #60A5D5;
    background-color: #EFF6FF;

    svg {
        fill: #60A5D5;
    }
}

.calculator__typeName {
    font-size: 16px;
    font-weight: 500;
}

.calculator__name {
    font-size: 20px;
    color: #0A2463;
    font-weight: 500;
    margin: 0;
}

.calculator__input {
    margin-top: 30px;
    background-color: #F9FAFB;
    padding: 20px;
    border-radius: 10px;


}

.calculator__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.calculator__nameInput {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: #0A2463;
}

.calculator__inputNumber {
    font-weight: 500;
    margin: 0;
}

.calculator__range {
    width: 100%;
}

.calculator__select {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.calculator__selectOptions {
    padding: 13px 15px;
    border-radius: 5px;
    border: 1px solid #E7E5E4;
}

.calculator__services {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;
}

.calculator__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.calculator__switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.calculator__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.calculator__slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .calculator__slider {
    background-color: #2196F3;
}

input:focus + .calculator__slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .calculator__slider:before {
    -webkit-transform: translateX(29px);
    -ms-transform: translateX(29px);
    transform: translateX(29px);
}

.calculator__slider {
    border-radius: 34px;
}

.calculator__slider:before {
    border-radius: 50%;
}

.calculator__toggles {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.calculator__toggle {
    display: flex;
    align-items: center;
    gap: 15px;
}

.calculator__toggleText {
    color: #0A2463;
}

.calculator__result {
    padding: 20px;
    border: 1px solid #60A5D5;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #EFF6FF;
}

.calculator__resultText {
    margin: 0;
    color: #0A2463;
    font-weight: 500;
}

.calculator__resultPrice {
    font-size: 20px;
    color: #0A2463;
    font-weight: 500;
    margin: 0;
}

.calculator__resultGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculator__resultDescr {
    color: #9399A7;
    font-size: 15px;
    margin: 30px 0 0 0;
}

/* rent */

.rent {
    background-color: #F9FAFB;
    padding: 40px 0;

    position: relative;
    top: 75vh;
    z-index: 20;
}

.rent__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 0 0 50px 0;
}

.rent__title {
    font-size: 40px;
    color: #0A2463;
    margin: 0;
}

.rent__subtitle {
    font-size: 20px;
    color: #A7B0C5;
    width: 100%;
    max-width: 580px;
}

.rent__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.rent__cards > *:not(.rent__card) {
    display: contents;
}

.rent__cards .rent__card {
    grid-column: auto;
}

.rent__card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 13.6px 0px #0000001A;

    max-width: 384px;
    width: 100%;
    transition: transform 300ms;
}

.rent__card:hover {
    transform: scale(1.05);
}

.rent__cardName {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;

    p {
        margin: 0;
    }
}

.rent__name {
    font-size: 20px;
    font-weight: 500;
    color: #0A2463;
}

.rent__availability {
    font-size: 14px;
    font-weight: 600;
    color: #257142;
    padding: 6px 9px;
    background-color: #DCFCE7;
    border: 1px solid #B1D4BD;
    border-radius: 100px;
}

.rent__cardText {
    padding: 20px 20px 20px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #848C95;
    margin: 0;
    text-align: start;
}

.rent__cardPrice {
    padding: 0px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rent__price {
    font-size: 16px;
    color: #0A2463;
    font-weight: 500;
}

.rent__cardLink {
    text-decoration: none;
    font-size: 18px;
    color: #60A5D5;
}

.rent__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rent__cardLinks {
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    text-align: center;

    img {
        transition: transform 300ms;
    }
    p {
        color:  #60A5D5;
    }
}

.rent__cardLinks:hover {
    img {
        transform: translateX(10px);
        transition: transform 300ms;
    }
}

/* contact */

.contact {
    background-color: #FFFFFF;
    padding: 40px 0;

    position: relative;
    top: 75vh;
    z-index: 20;
}

.contact__error {
    color: red;
}

.contact__content {
    display: flex;
    align-items: center;
}

.contact__title {
    font-size: 30px;
    color: #0A2463;
    font-weight: 600;
    margin: 0;
}

.contact__subtitle {
    font-size: 18px;
    color: #A7B0C5;
    margin-bottom: 30px;
}

.contact__form {
    box-shadow: 0px 9px 21.4px 0px #00000012;
    padding: 30px;
    border-radius: 10px;
    max-width: 640px;
    width: 100%;
    border: 1px solid #E7E5E4;
}

.contact__formGroup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.contact__formGroupInputs {
    width: 100%;
    display: flex;
    gap: 30px;
}

.contact__inputGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.contact__label {
    color: #0A2463;
}

.contact__input {
    padding: 13px 15px;
    border-radius: 5px;
    border:  1px solid #A7B0C5;
}

.contact__selectOptions {
    padding: 13px 15px;
    border-radius: 5px;
    border:  1px solid #A7B0C5;
}

.contact__textarea {
    padding: 13px 15px;
    border-radius: 5px;
    resize: vertical;
    min-height: 50px;
    max-height: 500px;
    border:  1px solid #A7B0C5;
    height: 130px;
}

.contact__link {
    display: flex;
    align-items: center;
    gap: 30px;
    width: fit-content;
}

.contact__linkIcon {
    width: 50px;
    height: 50px;
    background-color: #0A2463;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.contact__linkImg{
    width: 30px;
    height: 30px;
}

.contact__linkBlock {
    list-style-type: none;
    padding-top: 20px;
}

.contact__links {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact__linkTitle {
    color: #0A2463;
    text-decoration: none;
    font-weight: 500;
    margin: 0;
}

.contact__linkText {
    color: #A7B0C5;
    margin: 0;
}

.contact__linkInfo {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact__button {
    width: 100%;
    padding: 15px 20px;
    background-color: #0A2463;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    border-radius: 100px;
    transition: transform 300ms;
}

.contact__button:hover {
    transform: scale(1.05);
}

/* footer */

.footer {
    position: relative;
    top: 75vh;
    z-index: 20;
    background-color: #0A2463;
}

.footer__notMain {
    position: static;
    z-index: 99999;
    background-color: #0A2463;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    align-items: center;
    width: 100%;

}

.footer__logoLink {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.footer__links {
    display: flex;
    list-style: none;
    gap: 30px;
    a {
        color: #fff;
    }
}

.footer__link {
    transition: transform 300ms;
}

.footer__link:hover {
    transform: scale(1.05);
}

.footer__content {
    width: 100%;
}

.footer__text {
    color: #A7ACB5;
    font-size: 16px;
    font-weight: 500;
    max-width: 360px;
    width: 100%;
    margin: 0;
}

.footer__socials {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
}

/* animation main */

.main__cube_full {
    display: block;
    position: absolute;
    left: 160px;
    width: 145px;
    height: 145px;
    background-color: #143A78;
    border-radius: 10px;
    transform: rotate(5deg);
    top: 120px;
    z-index: -1;
    animation: cube_full 10s infinite;
}

@keyframes cube_full {
    0% {
        transform: translate(0, -10px) rotate(0deg);
    }
    50% {
        transform: translate(0, 10px) rotate(5deg);
    }
    100% {
        transform: translate(0, -10px) rotate(0deg);
    }
}

.main__cube_half {
    display: block;
    position: absolute;
    left: 80%;
    width: 145px;
    height: 145px;
    border: 4px solid #143A78;
    border-radius: 10px;
    transform: rotate(-4.71deg);
    top: 240px;
    z-index: -1;
    animation: cube_half 10s infinite;
}

@keyframes cube_half {
    0% {
        transform: translate(0, -10px) rotate(0deg);
    }
    50% {
        transform: translate(0, 10px) rotate(-4.71deg);
    }
    100% {
        transform: translate(0, -10px) rotate(0deg);
    }
}

.main__bg_rounded:nth-child(3) {
    display: block;
    position: absolute;
    left: 65%;
    width: 145px;
    height: 145px;
    background: #143A7880;
    box-shadow: 1px -7px 30px 38px #143A7880;
    border-radius: 1000px;
    transform: rotate(-4.71deg);
    top: 490px;
    z-index: -1;
}

.main__bg_rounded:nth-child(4) {
    display: block;
    position: absolute;
    left: 30%;
    width: 145px;
    height: 145px;
    background: #143A7880;
    box-shadow: 1px -7px 30px 38px #143A7880;
    border-radius: 1000px;
    transform: rotate(-4.71deg);
    top: 350px;
    z-index: -1;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 99999;
}

.notification.show {
    transform: translateY(0);
    opacity: 99999;
}

.notification.success {
    background-color: #4CAF50;
}

.notification.error {
    background-color: #F44336;
}
